$text-black: #353535;
$text-gray: #808080;
$text-light-gray: #D1D1D1;

$color-primary: #C85400;
$color-primary-dark: #943c00;
$color-primary-light: #FB9500;
$color-primary-10: rgba(200, 84, 0, 0.1);
$color-green: #6CBF4A;
$color-green-dark: #377E17;
$color-orange: #FB9500;
$color-dark-orange: #DE700A;
$color-black: #353535;
$color-yellow: #F2E52F;
$color-blue-sky: #B6E7F2;
$color-cream: #FFE6BF;
$color-cream-light: #FFF6E7;


$background-primary: #FFFFFF;
$background-secondary: #F8F8F8;

$terniaty-green: #EFF8ED;
$terniaty-cream: #FFF6E7;


$system-border : #D1D1D1